<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <!-- Adding tab icon -->
            <link rel="shortcut icon" href="/img/" type="image/x-icon">
            <!-- Font awesome cdn link -->
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
             <!-- css link -->
           <link rel="stylesheet" href="/css/headfoot.css">
           <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
 <!-- header starts here -->
  <!-- <%- include('includes/header.ejs')%> -->
  <!-- header ends here -->
  <!-- <div class="spacex"></div> -->

  <!-- cart section start -->
        <section class="cart">
    
   <div class="order-cart">
   <div class="order-icon">
        <img src="/img/cart-black.png" alt="">
        <h1 class="orderhead">Order summary</h1>
   </div>
   <% prod.forEach(function(prod){%>
   <div class="order-list ">
        <div class="order-item flex">
                <img src="<%=prod.img%>" class="item-img" >
                <div class="item-text">
                       <h1><%=prod.name%></h1> 
                </div>
                <span class="flex" style="font-size:1.5rem;"><%=prod.quantity%></span>
                <span style="font-size: 1.5rem; font-weight:700">&#8377; <%=prod.cost%></span>
                <form action="" method="get">
                    
                    <input type="submit"  class="btn" value="delete item">
                </form>
        </div>
      </div>
      <%})%>
<div class="item-billing">
      <div class="total-cost">
       <span class="total">Total amount : </span>
       <span class="cost">&#8377; <%=cost%></span>
</div>  
<a href="http://" class="btn buy">buy all</a>
</div>
<div>
     <a href="/shop" class="btn">Go back</a>
</div>
   </div>



        </section> 
         <!-- cart section end -->



  <!-- Footer -->
  <!-- <%-include('includes/footer.ejs')%> -->
  <!-- Footer  -->
  <script src="/js/headfoot.js"></script>
  <script src="/js/cart.js"></script>

</body>
</html>